.carouselWrapper
    .slick-list
        border: 1px solid var(--c-bg-bs)
        border-radius: var(--br)
    .slick-slide
        aspect-ratio: 18/9
        div
            @include size(100%)
    .carousel__item
        position: relative
        overflow: hidden
        &::after
            position: absolute
            content: ""
            inset: 0
            box-shadow: 0 0 12px 0 var(--c-bg-bs) inset
        img
            @include transition((transform var(--delay-time), filter var(--delay-time)))
            @include size(100%)
            object-fit: cover
            transform: scale(1)
            filter: brightness(1) saturate(1) contrast(1)
        a > div
            @include transition(transform .4s)
            @include d-flex-c(column)
            position: absolute
            padding: 2.4rem
            inset: 0
            transform: translateY(2%)
            *
                margin: 0
                color: var(--text-color-white)
            h3
                @include font(lighter, 1.35rem, 1.4em)
                opacity: 0.9
                text-shadow: 2px 2px 6px rgb(0 0 0 / 80%)
                text-transform: capitalize
            span
                padding: 0 3px
                font-weight: bold
            p
                @include transition(opacity var(--delay-time) ease-in-out)
                opacity: 0
                font-size: .75rem
        &:hover
            img
                transform: scale(1.07)
                filter: brightness(.95) saturate(1.4) contrast(.9)
            a > div
                transform: translateY(0)
                p
                    opacity: .75

    .slick-dots
        display: flex !important
        position: absolute
        justify-content: center
        padding: 0
        bottom: .75rem
        width: 100%
        line-height: 0
        li
            font-size: 0
            line-height: 0
            button
                display: block
                margin: 0
                padding: 4px
                background: transparent
                border: 0
                cursor: pointer
                &::before
                    @include transition(var(--delay-time))
                    @include size(.75rem, .55rem)
                    content: ""
                    display: block
                    background-color: var(--c-bg-no)
                    border-radius: var(--br)
            &.slick-active
                button::before
                    @include size(1.75rem, .55rem)
                    background-color: var(--primary-color-lighten)

.post-wrapper
    .header
        .info
            @include font(500, .75rem, 1.75)
            flex-wrap: wrap
            white-space: nowrap
            p
                margin: 0
                padding-right: 1rem
            a
                color: var(--text-color)
            .prtw
                letter-spacing: .1rem
        .title
            @include font(700, 1.48rem, 1.45)
            text-align: left
            letter-spacing: .035rem
            color: var(--text-color-darken)
        .image
            overflow: hidden
            aspect-ratio: 3/2
            width: calc(100% - 1rem)
            box-shadow: 0 12px 10px -6px var(--box-shadow-3)
            img
                @include size(100%)
                object-fit: cover
                border-radius: var(--br)
                cursor: zoom-in
    .nuxt-content-container,
    .nuxt-content
        padding: 1.25rem .5rem
        text-align: left
        del
            pointer-events: none
        img
            cursor: zoom-in
        a
            @include transition(opacity var(--delay-time))
            word-break: break-all
            opacity: 1
            color: var(--tag-bg2-c)
            &:hover
                opacity: .65
        li
            font-size: 0.9rem
        h2, h4
            @include font(700, 1.3rem, 1.2)
            margin: 2rem 0 1rem
            color: var(--text-color-darken)
            scroll-margin-top: 3.8rem
            &:first-of-type
                margin-top: .5rem
            + *:not(h3):not(h5):not(h6)
                font-size: .9rem
        h3, h5, h6
            font-weight: 700
            margin: 1.75rem 0 .75rem
            font-size: 1.1rem
            scroll-margin-top: 3.8rem
            + *:not(h5):not(h6)
                font-size: .9rem
        h4, h5
            padding-bottom: .45rem
            border-bottom: 1px solid var(--c-divider)
            &::before
                content: '〃'
                margin-right: .25rem
                font-size: 1.75rem
        h5, h6
            &::before
                content: '#'
                margin-right: .35rem
                font-size: 1.45rem
        ul, ol
            list-style-position: inside
            li
                padding-left: 1.25em
        blockquote
            p
                // padding: 0.66001rem 1rem 1rem
                padding: .75rem 1rem
                border-left: 3px solid #A0AABF
                background: #E7E7E7CF
        p:not(.img-origin)
            // text-align: justify
            font-size: .9rem
        img
            @include size(100%)
            padding: .5rem
            object-fit: contain
            max-height: 28.5rem
        pre code
            color: var(--text-color)
        table
            margin-bottom: 1rem
            width: 100%
            td, th
                padding: .65rem
                font-size: .9rem
                color: var(--text-color-darken)
                border: 1px solid #DEE2E6
            th
                border-bottom: 3px solid #DEE2E6
        hr 
            margin-top: 2rem
            margin-bottom: 2rem
            border-top: 3px solid var(--box-shadow-2)
            border-style: dashed
        pre[class*="language-"]
            margin-bottom: 1rem
            font-size: .95rem
            background: #E1E1E1
        .contains-task-list
            margin-bottom: 1rem
        input[type="checkbox"]
            @include size(1.05rem)
            display: inline-flex
            align-items: center
            justify-content: center
            margin-right: .45rem
            border: .125rem solid var(--text-color-lighter)
            border-radius: .125rem
            transform: translateY(-.05rem)
            appearance: none
            &::before
                @include size(.55rem)
                content: ""
                display: block
                box-shadow: inset 1em 1em var(--tag-bg2-c)
                transform: scale(0)
                clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%)
            &:checked::before
                transform: scale(1)
    .licensing
        @include font(500, .85rem)
        text-align: left
        padding: var(--pd3)
        background: var(--c-bg-bs)
        border-radius: var(--br)
        p
            margin-bottom: .65rem
            line-height: 1.2
        a
            @include transition((color var(--delay-time), text-decoration-color var(--delay-time)))
            font-size: .75rem
            line-height: 1.45
            color: var(--text-color-lighter)
            text-decoration: underline .05rem rgba(0, 0, 0, 0)
            text-underline-offset: .25rem
            &:hover
                text-decoration-color: var(--text-color-lighter)
            &[href="#"]
                pointer-events: none
    .tagslist
        display: flex
        flex-wrap: wrap
        padding: 1rem .65rem 1.25rem
        a
            @include transition(color var(--delay-time))
            @include font(400, .75rem, 1.25)
            white-space: nowrap
            color: var(--text-color-lighter)
            &:hover
                color: var(--primary-color-lighten)

.prev-next
    > div
        &:first-of-type
            padding-right: .55rem
        &:last-of-type
            padding-left: .55rem
    a, span, p
        color: var(--text-color-lighter)
    p
        font-size: .75rem
    a
        font-weight: 700
        color: var(--text-color)
    .p-prev
        text-align: left
    .p-next
        text-align: right
    .pn-item
        display: flex
        flex-direction: column
        height: 100%
        min-height: 100px
        > div
            @include transition(color var(--delay-time))
            @include d-flex-c
            flex: 1
            font-size: .85rem
        &:hover
            > div
                color: var(--primary-color-lighter)

.tagspg-wpr
    padding: 1.6rem 1.6rem 1.2rem
    h3
        @include font(700, .85rem)
        text-align: left
    .tags-item
        overflow: hidden
        margin-bottom: .75rem
        border-radius: var(--br)
        .tags
            // @include transition(filter .25s ease-in-out)
            @include font(500, .88rem, 2)
            display: flex
            white-space: nowrap
            color: var(--tag-text-c)
            div
                padding: 0 .45rem
                &:first-of-type
                    background-color: var(--tag-bg1-c)
                &:last-of-type
                    background-color: var(--tag-bg2-c)
        &:hover
            .tags
                filter: hue-rotate(175deg) brightness(1)
        &:active
            .tags
                filter: hue-rotate(175deg) brightness(.85)

.img-origin
    @include font(500, .75rem)
    letter-spacing: .02rem
    a
        @include transition(color var(--delay-time))
        color: var(--text-color-darken) !important
        text-decoration: underline
        &:hover
            color: var(--primary-color-lighten)

.breadcrumb
    background: none
    border-radius: 0
    .breadcrumb-item
        @include font(700, .85rem)
        a
            color: var(--tag-bg2-c)
        &.active a
            color: var(--c-bg-gary)
            pointer-events: none

.hd-i-w
    @include transition(filter var(--delay-time))
    position: absolute
    filter: invert(0) opacity(1)
    // top: -1.8rem
    top: -5.4rem
    left: calc((100% - 100vw) / 2)
    width: 100vw
    height: 32rem // X + 5.4
    background: url(~/assets/images/background/art4.jpg)
    background-attachment: fixed
    background-repeat: no-repeat
    background-position: 25% 25%
    background-size: cover
    box-shadow: 0 0 45px 45px #EAEAEA inset, 0 0 45px 45px #EAEAEA
    z-index: -1
    &.r
        background-image: url(~/assets/images/background/art5.jpg)

.km-lightbox
    @include d-flex-c
    position: fixed
    inset: 0
    background: #4E4E4E4E
    z-index: 9999
    .mask
        position: absolute
        inset: 0
        backdrop-filter: blur(4px)
    .lbiw
        @include transition((opacity .1s, transform .1s))
        position: relative
        margin: .45rem
        border: .5rem solid var(--module-bg-5)
        border-radius: var(--br)
        img
            max-width: 90vw
            max-height: 90vh
            object-fit: contain
            cursor: zoom-out
    &:not(.showstate), &:not(.showstate) .lbiw
        opacity: 0
        transform: scale(0)


.about-bg
    position: absolute
    top: -5.4rem
    left: calc((100% - 100vw) / 2)
    width: 100vw
    height: 26rem
    background: url(~/assets/images/background/art6.jpg)
    background-repeat: no-repeat
    background-position: 25% 25%
    background-size: cover
    --size: 50px
    --p: 25px
    --R: 56px
    -webkit-mask: radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))),#000 99%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%, radial-gradient(var(--R) at 50% calc(100% + var(--p)),#0000 99%,#000 101%) 50% calc(100% - var(--size))/calc(4*var(--size)) 100% repeat-x
    border: none

$spin-time: 5.5s
$circle-size: 10rem
$circle-stroke: .45rem
$displacement: 0%
$circle-color1: #0ABDC6
$circle-color2: #EA00D9
$circle-color3: #EFE20B
$circle-color4: #7D81EA

@keyframes spin1 
    0% 
        transform: rotate(0)
    100% 
        transform: rotate(360deg)
@keyframes spin2 
    0% 
        transform: rotate(72deg)
    100% 
        transform: rotate(-288deg)
@keyframes spin3 
    0% 
        transform: rotate(-144deg)
    100% 
        transform: rotate(216deg)
@keyframes spin4 
    0% 
        transform: rotate(216deg)
    100% 
        transform: rotate(-144deg)

.about-content
    padding-top: 22rem
    font-size: .85rem
    .circles
        @include transition(transform .85s)
        @include size($circle-size)
        position: absolute
        margin: 0 auto
        top: 16rem
        left: 50%
        background-color: var(--c-bg)
        background-image: url(~/assets/images/profile/MyLive2D.png)
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        border-radius: 50%
        transform: translate3D(-50%, -50%, 0) rotate(0deg)
        &:hover
            transform: translate3D(-50%, -50%, 0) rotate(720deg)
        .warning
            position: absolute
            display: inline-block
            text-align: center
            padding: 50%
            top: 50%
            left: 50%
            width: 80%
            color: var(--text-color)
            transform: translate3D(-50%, -50%, 0)
    .circle
        @include size(100%)
        position: absolute
        border: $circle-stroke solid transparent
        border-radius: 115% 140% 145% 110% / 125% 140% 110% 125%
        mix-blend-mode: soft-light
        &:nth-child(1) 
            border-color: $circle-color1
            transform-origin: 50%-$displacement 50%
            animation: spin1 $spin-time linear infinite
        &:nth-child(2) 
            border-color: $circle-color2
            transform-origin: 50% 50%+$displacement
            animation: spin2 $spin-time linear infinite
        &:nth-child(3) 
            border-color: $circle-color3
            transform-origin: 50%+$displacement 50%
            animation: spin3 $spin-time linear infinite
        &:nth-child(4) 
            border-color: $circle-color4
            transform-origin: 50% 50%-$displacement
            animation: spin4 $spin-time linear infinite
    h2
        color: var(--text-color-darken)
    .intro
        max-width: 28rem
    .local
        font-size: .95rem
        svg
            color: var(--tag-bg2-c)
    .profile-card-social
        @include d-flex-c
        flex-wrap: wrap
        ~ p
            margin-bottom: 4.8rem
            font-size: .75rem
        a
            @include transition(transform var(--delay-time))
            @include size(3.6rem)
            display: inline-flex
            align-items: center
            justify-content: center
            margin: .85rem
            font-size: 1.45rem
            color: #FFF
            border-radius: 50%
            &:hover
                transform: scale(1.2)
            &.pcs-
                &facebook
                    background: linear-gradient(45deg, #3B5998, #0078D7)
                    box-shadow: 0px 4px 30px rgb(43 98 169 / 50%)
                &twitter
                    background: linear-gradient(45deg, #1DA1F2, #0E71C8)
                    box-shadow: 0px 4px 30px rgb(19 127 212 / 70%)
                &instagram
                    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D)
                    box-shadow: 0px 4px 30px rgb(120 64 190 / 60%)
                &github
                    background: linear-gradient(45deg, #333333, #626B73)
                    box-shadow: 0px 4px 30px rgb(63 65 67 / 60%)
                &codepen
                    background: linear-gradient(45deg, #324E63, #414447)
                    box-shadow: 0px 4px 30px rgb(55 75 90 / 60%)
                &discord
                    background: linear-gradient(45deg, #383E7A, #6B77F9)
                    box-shadow: 0px 4px 30px rgb(23 32 124 / 60%)
                &mail
                    background: linear-gradient(45deg, #D5135A, #F05924)
                    box-shadow: 0px 4px 30px rgb(223 45 70 / 60%)
                &weixin
                    background: linear-gradient(45deg, #329713, #38CB0B)
                    box-shadow: 0px 4px 30px rgb(61 177 38 / 60%)
    .divided-line
        align-items: center
        font-size: 1.05rem
        letter-spacing: .125rem
        color: var(--tag-bg2-c)
        &::before, &::after
            content: ""
            flex: 1
            height: .175rem
            background-image: linear-gradient(to right, transparent, var(--tag-bg2-c))
            border-radius: var(--br)
        &::after
            background-image: linear-gradient(to left, transparent, var(--tag-bg2-c))
        &:not(.p-r)::after,
        &:not(.p-l)::before
            display: none
    .inner-wrapper
        @include transition(height var(--delay-time))
        position: relative
        overflow: hidden
        white-space: pre-line
        line-height: 1.6
        font-size: .95rem
        mark
            @include transition(filter var(--delay-time))
            &:hover
                filter: invert(1)
        &:not(.site)
            height: 11.2em
            &::after
                content: '...'
                position: absolute
                top: 10.5em
                right: 0
        a
            @include transition(text-decoration-color var(--delay-time))
            color: var(--tag-bg1-c)
            text-decoration: underline .08em transparent
            text-underline-offset: .35em
            &:hover
                text-decoration-color: var(--tag-bg1-c)
        ~ .btn-grp
            position: relative
            width: fit-content
            .rm-btn
                @include transition(all var(--delay-time))
                padding: .5rem 1rem
                font-size: 1.05rem
                color: var(--text-color-white2)
                letter-spacing: .085rem
                background: var(--primary-color-lighten-static)
                border-radius: .75rem
                box-shadow: rgb(0 0 0 / 20%) 0px -3.5px 0px inset, rgb(0 0 0 / 15%) 0px 6px 0px 3px
                &:hover
                    background: var(--tag-bg1-c)
                    box-shadow: rgb(0 0 0 / 20%) 0px -3.5px 0px inset, rgb(0 0 0 / 15%) 0px 5px 0px 3px
                    transform: translateY(1px)
                &:active
                    box-shadow: rgb(0 0 0 / 20%) 0px -3.5px 0px inset, rgb(0 0 0 / 15%) 0px 3.5px 0px 3px
                    transform: translateY(2.5px)
            &::after
                @include transition(opacity var(--delay-time))
                content: ''
                position: absolute
                inset: 4px -1.5px -4px
                background: var(--tag-bg2-c)
                border-radius: .75rem
                z-index: -1
        &.readmore
            height: calc(100% - 4.5rem)
            &::after
                content: ''
    .hby-box
        @include transition((color var(--delay-time), background var(--delay-time)))
        @include d-flex-c
        @include size(3.2rem)
        font-size: 1.75rem
        color: var(--tag-bg1-c)
        background: transparent
        border: .15rem solid var(--tag-bg2-c)
        border-radius: 50%
        &:hover
            color: var(--text-color-white2)
            background: var(--tag-bg2-c)
    .skill-wrapper
        color: var(--text-color-darken)
        h3
            font-size: 1.4rem
            line-height: 1.8
            &::before, &::after
                content: '\22C6'
                padding: 0 .25rem
        h5
            text-align: left
            font-size: 1.15rem
            span
                text-decoration: underline
                text-underline-offset: 0.125rem
                text-decoration-color: var(--tag-bg1-c)
            &::before
                content: "\27BD"
                margin-right: .75rem
                text-decoration: none
                color: var(--tag-bg2-c)
            & + div
                padding-left: 1.25rem
        .skill-item
            @include size(3.086rem)
            padding: .45rem
            img
                @include size(100%)
                object-fit: contain
    .m-ex
        h3
            font-size: 1.65rem
            color: var(--text-color-darken)
    .ex-wrapper
        @include d-flex-c
        &.education
            @include transition(box-shadow var(--delay-time))
            position: relative
            flex-direction: column
            overflow: hidden
            height: 100%
            color: var(--text-color-white)
            background: var(--c-bg-gary)
            box-shadow: var(--box-shadow-4) 0px 2px 4px, var(--box-shadow-3) 0px 7px 15px 3px, var(--box-shadow-2) 0px -3px 0px inset
            img
                @include transition((transform var(--delay-time), filter var(--delay-time)))
                @include size(100%)
                position: absolute
                object-fit: cover
                filter: brightness(0.75) contrast(0.6) saturate(2.5)
                transform: scale(1.2)
            > *:not(img)
                z-index: 1
            h3
                margin: 2rem
                font-size: 1.35rem
                color: var(--text-color-white2)
            h6
                margin-top: auto
                font-size: .85rem
            p
                margin-top: auto
                margin-bottom: 1rem
                font-size: .95rem
            &:hover
                box-shadow: var(--box-shadow-4) 0px 0px 8px, var(--box-shadow-3) 0px 0px 24px 4px, var(--box-shadow-2) 0px -3px 0px inset
                img
                    filter: brightness(.95) contrast(.85) saturate(1.8)
                    transform: scale(1)
        &.wke
            font-size: .85rem
            color: var(--text-color-darken)
            &:not(:last-of-type)
                border-bottom: 1px solid var(--c-divider)
            img
                @include size(3rem)
                object-fit: contain
                background: #FFF
            h3
                font-size: 1.25rem
                & + span
                    font-size: .925rem
            span + span
                color: var(--text-color)
            span em
                font-style: normal
            ul
                list-style: inside

$tl_length1: .74rem
$tl_length2: .3rem
$show_length: 6
$blur_length: 1


@include keyframes(circle)
    from
        box-shadow: 0 0 0 0px var(--tag-bg2-c)
    to
        box-shadow: 0 0 0 6px var(--tag-bg2-c-t)

.timeline-wrapper
    &:not(.showmore)
        .timeline .tl-item
            opacity: 0
            padding: 0
            height: 0
            @for $i from 1 through $show_length
                &:nth-of-type(#{$i})
                    opacity: 1
                    padding-bottom: 1rem
                    height: auto
            @for $i from ($show_length - $blur_length + 1) through $show_length
                &:nth-of-type(#{$i})
                    filter: blur(4px)
                    pointer-events: none
            &:nth-of-type(#{$show_length - $blur_length}) .tl-content::before
                position: absolute
                content: ''
                bottom: -1rem
                left: -.45rem
                right: -.45rem
                height: 3.45rem
                backdrop-filter: blur(4px)
        .sm-overlay
            opacity: 1
            pointer-events: auto
    .timeline
        font-size: .85rem
        .tl-item
            @include transition((padding var(--delay-time), height var(--delay-time), filter .15s))
            position: relative
            padding-bottom: 1rem
            list-style: none
            &::before, &::after
                content: ''
                position: absolute
            &:not(:last-of-type)::before
                top: $tl_length1
                left: $tl_length2
                height: 100%
                border-left: 2px solid var(--text-color-lighter)
            &::after
                @include size($tl_length1)
                top: $tl_length2
                background: var(--c-wb)
                border: 2px solid var(--tag-bg2-c)
                border-radius: 50%
            .tl-content
                span
                    @include transition(filter var(--delay-time))
                    padding: .125rem .25rem
                    font-size: .75rem
                    background: var(--tag-bg3-c)
                    border-radius: 2px
                    &:hover
                        filter: invert(1)
                div, ol
                    margin: .45rem 0 0 .75rem
                    white-space: pre-line
                ol
                    list-style-position: inside
            &:hover
                &::after
                    animation: circle 1.2s infinite
    .sm-overlay
        position: absolute
        opacity: 0
        left: 0
        right: 0
        bottom: 1rem
        pointer-events: none
        button
            @include transition(.2s .1s)
            position: relative
            color: var(--c-wb)
            background: var(--c-wb)
            border: 1px solid var(--btn-bg-c1)
            span
                position: relative
                z-index: 1
            &::before
                @include transition(.3s ease-out)
                @include size(100%)
                position: absolute
                content: ''
                bottom: 0
                left: 0
                right: 0
                background: var(--btn-bg-c1)
            &:hover
                color: var(--btn-bg-c1)
                &::before
                    height: 0%

.niam
    @include transition(opacity .4s)
    opacity: 0
    pointer-events: none
    &.show
        opacity: 1
        pointer-events: auto

@keyframes Shine
    to
        background-position-x: -60%

%skeleton
    background: linear-gradient(120deg, #FFFFFF00 40%, #FFFFFF26 50%, #FFFFFF00 60%) var(--box-shadow-15)
    background-size: 200% 100%
    background-position-x: 160%
    border-radius: var(--br)
    animation: 1.6s Shine ease-in-out infinite

.SkeletonCarouse
    @extend %skeleton
    aspect-ratio: 18/9
.SkeletonArticle
    .arc-img,
    .arc-content *
        @extend %skeleton
    .arc-img
        aspect-ratio: 3/2
        border-radius: 0
    .arc-title
        @include size(100%, 28px)
    .arc-info
        @include size(160px, 12px)
    .arc-intro
        @include size(100%, 34px)
    .arc-tagslist
        @include size(130px, 15px)
        align-self: flex-end
.SkeletonResource
    .post-img,
    .post-info > *:not(div:last-of-type),
    .post-info div:last-of-type *
        @extend %skeleton
    .post-tag
        @include size(120px, 31px)
    .post-info h3:empty
        @include size(90%, 24px)
    .post-info p:empty 
        height: 4.15em
    .post-info div:last-of-type
        div
            @include size(92px, 27px)
        a
            @include size(25px)
.SkeletonPortfolio .card-widget:hover
    background: var(--module-bg-5)
.tagspg-wpr h3:empty
    @include size(44px, 13.6px)
    @extend %skeleton
.area-tf h3:empty
    @include size(120px, 39.2px)
    @extend %skeleton
.area-tf p:empty
    @include size(260px, 20.4px)
    @extend %skeleton
.tagspg-wpr .tags-item .tags.load,
.area-tf .skeleton label,
.area-tf .skeleton input:checked + label
    @extend %skeleton
    color: transparent
    pointer-events: none
.tagspg-wpr .tags-item .tags.load div
    background-color: transparent
.works-wrapper .wks-card .imgWpr:empty
    background: linear-gradient(120deg, #FFFFFF00 40%, #FFFFFF26 50%, #FFFFFF00 60%) var(--box-shadow-1)
    background-size: 200% 100%
    background-position-x: 160%
    border-radius: var(--br)
    animation: 1.6s Shine ease-in-out infinite
    pointer-events: none
.works-wrapper.SkeletonPortfolio:hover .wks-card:not(:hover) .imgWpr
    filter: none

@supports (mix-blend-mode: screen)
    .about-content .circles .warning
        display: none


@media (min-width: 1200px)
    .col-custom-6
        flex: 0 0 50%
        max-width: 50%
@media (max-width: 1199.98px)
    .prev-next > div
        padding: 0 0 1rem !important
@media (max-width: 991.98px)
    .post-wrapper .header .title
        font-size: 1.25rem
@media (max-width: 767.98px)
    .post-wrapper .header .title
        font-size: 1.15rem
@media (max-width: 575.98px)
    .carouselWrapper .carousel__item a > div h3
        font-size: 1.15rem
    .carouselWrapper .carousel__item a > div
        transform: translateY(5%)
    .about-content .skill-wrapper
        h3
            font-size: 1.25rem
        h5
            font-size: 1rem
            & + div
                padding-left: 1rem
        .skill-item
            @include size(2.6rem)
    .SkeletonArticle .arc-img
        aspect-ratio: 5/2